.note {

    padding-left: 8.5em;

}

.note2 {

    padding-left: 15.5em;

}

.expand-tbl td:nth-child(1), .expand-tbl td:nth-child(2) {
    text-align: left;
    padding-left: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.6rem !important;
}

.detail__content .percentage__up::before {
    content: "";
    margin-right: 6px;
}

.detail__content .percentage__down::before {
    content: "";
    margin-right: 6px;
}

.funbtn {

    background-color: black;

}
