.note {

    padding-left: 8.5em;

}

.note2 {

    padding-left: 15.5em;

}



.select-box-wrap {

    border-radius: 3px;

    padding: 6px 10px 5px 0px;

}



.wrapper-tab--optimize .wrapper-tab__body {

    padding: 34px 30px 30px 30px;

}
