@use 'abstracts' as *;
@use 'base' as *;
@use 'utilities' as *;

html,
body {
  overflow-x: hidden;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: var(--clr-neutral-600);
  background: var(--clr-neutral-200);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--clr-neutral-600);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.4rem;
}

.sml {
  font-size: 1.2rem;
}

.x-sml {
  font-size: 1rem;
}

/* select box*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  flex: 1;
  padding: 0 10px;
  cursor: pointer;
  font-size: 10px;
}
select::-ms-expand {
  display: none;
}
.select-box {
  position: relative;
  display: flex;
  /*display: inline-flex;*/
  height: 20px;
  line-height: 1;
  overflow: hidden;
  border-radius: 3px;
}

.select-arrow {
  display: block;
  height: 100%;
  width: 2rem;
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  border-left: 0px;
}

.select-arrow::before,
.select-arrow::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 25%;
  transform: translate(-50%, -50%);
  --size: 0.3em;
}

.select-arrow::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  font-size: 10px;
  top: 25%;
}
/* select box*/

/* navigation */

.navigation {
  &__top,
  &__bottom {
    .navbar-nav {
      align-self: center;
    }

    .navbar-nav .nav-link {
      color: var(--clr-neutral-100);
    }

    .nav-item {
      font-weight: var(--fw-semi-bold);
      height: 36px;
      min-width: 140px;
      text-align: center;

      &.active::after {
        content: "";
        display: block;
      }
    }
  }

  &__top {
    min-height: 85px;

    .navbar-nav {
      margin-left: 5rem;
    }

    .navbar-nav .nav-link {
      font-size: 16px;
      padding-bottom: 27px;
    }

    .nav-item {
      &.active::after {
        border-bottom: 4px solid var(--clr-primary-100);
      }
    }
    .navbar-brand {
      .badge {
        border-radius: 0px;
      }
    }
  }

  &__bottom {
    min-height: 55px;

    .navbar-nav .nav-link {
      font-size: 14px;
      padding-bottom: 16px;
    }

    .nav-item {
      &.active::after {
        content: "";
        display: block;
        border-bottom: 3px solid var(--clr-primary-100);
      }
    }
  }
}

/* Category Pages */

.category {
  margin: 40px 0px;

  .title {
    h2 {
      color: var(--clr-neutral-800);
      font-weight: var(--fw-semi-bold);
      margin-bottom: 1rem;
    }

    h3 {
      font-weight: var(--fw-regular);
    }
  }

  .filter {
    .nav {
      border-bottom: 1px solid var(--clr-neutral-300);
      width: fit-content;
    }

    .nav-link {
      padding: 0 1rem;
    }

    .nav-item:last-child .nav-link {
      padding-right: 0;
    }

    .nav-item {
      &.active {
        border-bottom: 2px solid var(--clr-secondary-100);
        .nav-link {
          color: var(--clr-secondary-100);
        }
      }
    }
  }
  .wrapper-box {
    background: var(--clr-neutral-100);
    margin-top: 25px;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 15px 0px;
    border-radius: 6px;
    border: 1px solid var(--clr-neutral-300);
    padding: 45px 25px;

    .note {
      padding-left: 15em;
    }
  }
}

/* table */
.ai-tbl {
  table {
    color: var(--clr-neutral-800);
    font-size: 1.5rem;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;

    tbody,
    td {
      border-style: hidden;
    }

    tbody {
      tr {
        td:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        td:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }

        td {
          border-right: 1px solid var(--clr-neutral-100);
          vertical-align: middle;
        }
      }
    }

    th,
    td {
      font-weight: var(--fw-semi-bold);
    }

    th {
      border-right: 1px solid var(--clr-neutral-400);
      border-bottom: 0;

      &:first-child,
      &:last-child {
        border: none;
      }
    }

    .fs-big {
      font-size: 1.9rem;
    }

    .detail {
      &__content {
        padding: 10px 10px 10px 10px;

        &.text-left {
          .percentage {
            &::before {
              margin-right: 6px;
            }
          }
        }

        .price {
          font-size: 1.9rem;
        }

        .percentage {
          font-size: 1rem;

          &::before {
            @include fa();
            font-size: 1.3rem;
            vertical-align: middle;
          }

          &__up {
            color: var(--clr-secondary-300);

            &::before {
              content: "\f0d8";
            }
          }

          &__down {
            color: var(--clr-secondary-200);

            &::before {
              content: "\f0d7";
            }
          }
        }

        .ratio {
          font-size: 1rem;
          color: var(--clr-neutral-600);
        }

        .progressBar {
          max-width: 8em;
          max-height: 0.9em;
          margin-top: 0.2em;
        }

        .ldBar {
          margin-left: -5px;
          display: inline;

          .ldBar-label {
            display: none;
          }

          & path.baseline {
            stroke-width: 3;
          }

          & path.mainline {
            stroke-width: 3;
          }

          &__orange path.baseline {
            stroke: var(--clr-other-a-500);
          }

          &__orange path.mainline {
            stroke: var(--clr-other-a-700);
          }

          &__blue path.baseline {
            stroke: var(--clr-other-b-500);
          }

          &__blue path.mainline {
            stroke: var(--clr-other-b-700);
          }

          &__green path.baseline {
            stroke: var(--clr-other-c-500);
          }

          &__green path.mainline {
            stroke: var(--clr-other-c-700);
          }
        }
      }
    }
  }
}
