$colors: (
  primary: (
    100: rgba(255, 84, 0, 1),
    200: rgba(255, 167, 0, 1),
  ),
  secondary: (
    20: rgba(15, 15, 15, 1),
    50: rgba(19, 0, 111, 1),
    100: rgba(26, 76, 251, 1),
    150: rgba(108, 139, 250, 1),
    200: rgba(237, 14, 14, 1),
    300: rgba(5, 212, 132, 1),
    400: rgba(28, 162, 0, 1),
    500: rgba(73, 171, 255, 1),
    600: rgba(87, 233, 228, 1),
    700: rgba(255, 250, 194, 1),
    750: rgba(255, 213, 79, 1),
    800: rgba(173, 97, 249, 1),
    900: rgba(238, 80, 248, 1),
  ),
  neutral: (
    0: rgba(0, 0, 0, 0),
    50: rgba(255, 255, 255, 0.75),
    100: rgba(255, 255, 255, 1),
    250: rgba(239, 239, 239, 1),
    200: rgba(234, 236, 242, 1),
    300: rgba(222, 222, 222, 1),
    350: rgba(211, 211, 211, 1),
    400: rgba(189, 189, 189, 1),
    500: rgba(173, 173, 173, 1),
    //base color
    600: rgba(118, 118, 118, 1),
    //base color
    650: rgba(105, 105, 107, 1),
    700: rgba(94, 94, 94, 1),
    750: rgba(0, 0, 0, 0.15),
    800: rgba(15, 15, 15, 1),
  ),
  other-a: (
    100: rgba(255, 85, 51, 0.05),
    200: rgba(255, 85, 51, 0.08),
    300: rgba(255, 85, 51, 0.1),
    400: rgba(255, 85, 51, 0.15),
    500: rgba(255, 85, 51, 0.2),
    600: rgba(255, 85, 51, 0.5),
    700: rgba(255, 85, 51, 1),
  ),
  other-b: (
    100: rgba(26, 76, 251, 0.05),
    200: rgba(26, 76, 251, 0.08),
    300: rgba(26, 76, 251, 0.1),
    400: rgba(26, 76, 251, 0.15),
    500: rgba(26, 76, 251, 0.2),
    600: rgba(26, 76, 251, 0.5),
    700: rgba(26, 76, 251, 1),
  ),
  other-c: (
    100: rgba(5, 191, 168, 0.05),
    200: rgba(5, 191, 168, 0.08),
    300: rgba(5, 191, 168, 0.1),
    400: rgba(5, 191, 168, 0.15),
    500: rgba(5, 191, 168, 0.2),
    600: rgba(5, 191, 168, 0.5),
    700: rgba(5, 191, 168, 1),
  ),
  other-d: (
    100: rgba(197, 17, 98, 0.05),
    200: rgba(197, 17, 98, 0.08),
    300: rgba(197, 17, 98, 0.1),
    400: rgba(197, 17, 98, 0.15),
    500: rgba(197, 17, 98, 0.2),
    600: rgba(197, 17, 98, 0.5),
    700: rgba(197, 17, 98, 1),
  ),
  other-e: (
    100: rgba(176, 0, 255, 0.05),
    200: rgba(176, 0, 255, 0.08),
    300: rgba(176, 0, 255, 0.1),
    400: rgba(176, 0, 255, 0.15),
    500: rgba(176, 0, 255, 0.2),
    600: rgba(176, 0, 255, 0.5),
    700: rgba(176, 0, 255, 1),
  ),
);

// opacity
$opacity: (
  100: 0.05,
  200: 0.08,
  300: 0.1,
  400: 0.15,
  500: 0.2,
  600: 0.5,
  700: 0.75,
  800: 1,
);
