@use 'breakpoints' as *;

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media only screen and (max-width: $size) {
    @content;
  }
}

/* buttons */

@mixin button {
  border-radius: 3px;
  padding: 0.75rem 2rem;
  display: inline-block;
  text-align: center;
  background-color: var(--clr-primary-400);
  color: color(white);
  font-size: 16px;
  font-weight: weights(light);
  border: 0px solid var(--clr-primary-400);
  min-width: 110px;
  cursor: pointer !important;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--clr-primary-400);
    text-decoration: none;
    outline: none;
  }
}
